@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-logo {
    display: inline-block;
    width: 90%;
    padding: 10px 40px;
}
.header-logo a {
    text-decoration: none;
    color: #005a48;
    font-size: 1.5rem;
    font-weight: bold;
}
.nav {
    display: inline-block;
    width: 100%;
}
.nav-items {
    display: inline-block;
    width: calc(70% -100px);
    vertical-align: middle;
    text-align: center;
    margin: 0px 20px;
   
}
.nav-items a {
    text-decoration: none;
    color: #005a48;
    width: 600;
}
.nav-search {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    text-align: center;
}
.nav-search__el {
    background-color: #c5c5c5;
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
}
.search-input {
    background-color: #c5c5c5;
    border:none;
    flex-basis: 60%;
    outline: none;
}
.nav-search__el i {
    flex-basis: 40%;
}